02 - XML - RDF/Solución XML/AppEjemploXML/Ejemplos 2/04-xsd/MisContactos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lista">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Contacto">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="pais" type="xs:string" />
              <xs:element name="Departamento" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>