02 - XML - RDF/Solución XML/AppEjemploXML/Ejemplos 2/02-dtd/DTDmilista.DTD

<!ELEMENT lista (contacto)+>
<!-- Elemento Raiz del árbol: 
       - Son obligatorios: nombre, apellidos
       - Es opcional (?): fecha_nacimiento
       - Se compone de 1 o más subelementos: se usa +
       - Se compone de 0 o más subelementos: correos-->
<!ELEMENT contacto (nombre, apellidos, fecha_nacimiento?, correos+,descripción?) >
<!-- Estableciendo los tipos de datos de los elementos hoja de PERSONACONTACTO-->
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT fecha_nacimiento (#PCDATA)>
<!-- Elementos del segundo nivel del arbol-->
<!ELEMENT correos (idcorreo, descripcion_correo)>
<!ELEMENT idcorreo (#PCDATA)>
<!ELEMENT descripcion_correo (#PCDATA)>
<!ELEMENT descripción (#PCDATA)>